<h1>Budgets</h1>

<%= link_to "New Budget", new_budget_path %>

<div class="budgets">
  <% @budgets.each do |budget| %>
    <div class="budget">
      <%= link_to budget.name, budget %>
      <span><%= budget.total %></span>
    </div>
  <% end %>
</div>

