<h1><%= @budget.name %></h1>

<%= link_to "Back", budgets_path %>
<%= link_to "Edit", edit_budget_path(@budget) %>
<%= button_to "Delete", @budget, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
