body {
  font-family: --apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  color: var(--color-text);
  font-size: 1rem;
  box-sizing: border-box;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

input[type='date'] {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  color: var(--color-text);
  font-size: 1rem;
  box-sizing: border-box;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: var(--shadow);
}

input[type='submit'] {
  padding: 0.5rem 1rem;
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  font-weight: 500;
}

input[type='submit']:hover {
  background: var(--color-primary-hover);
}

:root {
  --color-bg: #f9fafb;
  --color-bg-muted: #f3f4f6;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-text-muted: #6b7280;

  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-muted: #93c5fd;

  --color-success: rgba(22, 163, 74, 0.2);
  --color-error: rgba(220, 38, 38, 0.2);
  --color-warning: rgba(245, 158, 11, 0.2);
  --color-error-text: rgb(220, 38, 38);

  --radius: 0.5rem;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

#root {
  height: 90%;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-surface);
  color: var(--color-primary);
  height: 10%;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.form-input {
  padding: 0 1rem 0 0;
}

.form-submit {
  display: flex;
  align-items: center;
}

.hidden-submit {
  display: none;
}

.app-content {
  padding: 1rem;
}

.form-errors {
  display: flex;
  flex-direction: column;
  color: var(--color-error-text);
  padding: 1rem 0;
  font-size: 0.875rem;
}

.icon-button {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.icon-button:hover {
  opacity: 1;
}
