.budgets {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}

.create-month {
  align-self: center;
  background: var(--color-surface);
}

.month {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1rem;
}

.budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-height: 2rem;

  color: var(--color-text);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;

  &:hover {
    opacity: 0.8;
    .budget-actions {
      display: flex;
    }

    .budget-total {
      display: none;
    }
  }
}

.budget-over {
  background: var(--color-error);
}

.budget-warn {
  background: var(--color-warning);
}

.budget-ok {
  background: var(--color-success);
}

.budget-actions {
  display: flex;
  display: none;
  gap: 0.5rem;
}

.budget-total {
  display: block;
}

.header-button {
  right: 1rem;
  color: var(--color-primary);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;

  &:hover {
    background: var(--color-bg-muted);
    color: var(--color-primary-hover);
    cursor: pointer;
  }
}

.transactions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: 1rem;
  margin-top: 1rem;
}

.transaction-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.5fr;
}

.transactions-header {
  font-weight: 600;
}

.transaction-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem 0;
}

.month-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.budget-name-input {
  width: 70%;
}

.budget-total-input {
  width: 30%;
}
